#about{
background-image:url(https://www.stantec.com/content/dam/stantec/images/projects/0012/logan-international-airport-32557.jpg);

height: 965px;
width: 1603px;
background-repeat: no-repeat;

}
body {
  font-family: 'Roboto', sans-serif;
}
.footer {
  text-align: center;
  padding: 1rem;
  background: #000000;
  color: #fff;
  font-size: 0.9rem;
}